<div class="card">
    
    <div class="card-body">
        <form action="" class="forn-inline">
            <div class="form-group">
                <select name="filter" id="">
                    <option value="1">All</option>
                    <option value="2">High Calories</option>
                    <option value="3">Low Calories</option>
                    

                </select>
                <br><br>
                <button class="btn btn-primary" >Filter</button>
            </div>
        </form>
    </div>

</div>